.wrapper {
  background-color: var(--gray-100);
  padding: 3px 4px;
  font-weight: 300;
  padding: 15px 17px;
  border-radius: 12px;
}

.title {
  font-weight: 700;
  font-size: 1.1rem;
}

.keywordWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;

  border-radius: 10px;
  background-color: #40607c;
  color: white;
  padding: 5px 2px;
  font-weight: 500;
}
.marginWrapper {
  margin-top: 13px;
}

.keyword {
  width: 100px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 9px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
  display: flex;
  justify-content: center;
}

.keyword:nth-child(even) {
  background: #40607c;
  width: 100px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 9px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
  display: flex;
  justify-content: center;
}
.keyword:nth-child(odd) {
  background: #6c76f4;
  width: 100px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 9px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
  display: flex;
  justify-content: center;
}
