.item_container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  margin-bottom: 8px;
}
.item_input_wrapper {
  display: flex;
}
.input {
  all: unset;
  font-size: 12px;
  padding: 8px;
  border: 1px solid #CDCDCD;
  border-radius: 4px;
}
.item_name_input {
  width: 100px;
  margin-right: 16px;
}
.score_container {
  margin-right: 16px;
}
.score_container > span {
  font-size: 14px;
  font-weight: bold;
}
.item_score_input {
  width: 40px;
  margin-right: 4px;
}
.delete_btn {
  padding: 4px 8px;
  background-color: rgb(248, 64, 64);
  color: #ffffff;
  font-size: 12px;
  border-radius: 8px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}