.item_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 50px;
}
.item_input_wrapper {
  display: flex;
}
.input {
  all: unset;
  font-size: 0.83rem;
  padding: 8px;
  padding: 14px 20px;
  border: 1px solid #efefef;
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.item_name_input {
  width: 200px;
  margin-right: 16px;
}
.score_container {
  margin-right: 16px;
}
.score_container > span {
  font-size: 14px;
  font-weight: bold;
}
.item_score_input {
  width: 40px;
  margin-right: 4px;
}
.delete_btn {
  padding: 4px 8px;
  background-color: rgb(248, 64, 64);
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 8px;
  width: 30px;
  height: 20px;
  text-align: center;
}

.columnWrapper {
  display: flex;
  flex-direction: column;

  gap: 3px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
