@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  color: black;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgb(245, 245, 245);
}

button,
img,
a {
  all: unset;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
