.toggle_container {
  position:absolute;
  width: 240px;
  top: 20px;
  left:10px;
  background-color: white;
  z-index: 999;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  padding: 8px;
}
.toggle_container > p {
  font-size: 10px;
  width: 100%;
}
