.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background-color: #b9ccff;
  color: #939bff;
  width: 30px;
  height: 30px;
}
.darken {
  color: #6c76f4;
  background-color: #ffffff;
}
