.textarea_container {
  position: relative;
  padding: 12px;
  padding-bottom: 28px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.textarea_container:focus-within {
  border: 1px solid #000000;
}
.textarea_container > textarea {
  width: 100%;
  height: 80px;
  border:none;
  outline: none;
  resize: none;
}
.letter_count_container {
  position: absolute;
  font-size: 12px;
  bottom: 8px;
  right: 8px;
}
.letter_max {
  color: rgba(255, 0, 0, 0.8);
}
