.btn {
  background-color: var(--purple-700);
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 4px 8px;
  width: 30px;
  height: 20px;
  text-align: center;
}
