.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  padding-bottom: 50px;
}

.introWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 10px 0 30px 0;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.marginWrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  gap: 20px;
}

.li {
  all: unset;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  min-height: 100px;
  height: auto;
}

.circle {
  background-color: #c3c7ff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.method {
  width: 340px;
}

.contentWrapper {
  width: 420px;
  padding: 25px 30px;
  height: 100vh;
  background-color: var(--gray-100);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f7f8;
  width: 100%;
  height: 55px;
  padding: 0px 13px;
  border-radius: 6px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 14px;
  font-weight: 700;
  padding: 10px 0;
  border-radius: 6px;
}

.clickBtn {
  background-color: white;
}

.verificationBtn {
  position: absolute;
  bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-height: 58px;
  padding: 10px 0;
  background-color: var(--purple-700);
  color: white;

  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
}

.columnWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.examplewrap {
  display: flex;
  flex-direction: column;
}

.examplecontent {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img {
  width: 140px;
  height: 50px;
  display: flex;
}
.verification {
  border-radius: 15px;
  background: #6c76f4;
  display: flex;
  width: 365px;
  height: 60px;
  padding: 13px 8px;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
  color: #fff;

  text-align: center;
  font-family: 'Noto Sans';
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  align-items: center;
  justify-content: center;

  position: relative;
  bottom: 10px;
}
