.wrapper {
  background-color: var(--gray-100);
  padding: 3px 4px;
  font-weight: 300;
  padding: 22px 17px;
  min-height: 280px;
  border-radius: 12px;
  width: 390px;
}

.evenWrapper {
  background-color: #f8f9ff;
}

.rowWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.columnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.title {
  font-weight: 700;
  font-size: 1.3rem;
}

.subTitle {
  font-size: 0.75rem;
}

.descriptionWrapper {
  height: 140px;
  font-weight: 400;
  overflow: auto;
  margin-top: 10px;
}

.description {
  width: 100%;
  overflow: auto;
  font-size: 0.93rem;
  margin-top: 6px;
  color: #0f0f0f;
  line-height: 20px;
}

.companyWrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.companyWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
